<div class="chat-container">
  <ng-container *ngIf="adminOnline; else redirect">
    <mat-card class="chat-card">
      <p class="text-green-600">Chat iniciado com um atendente!</p>
    </mat-card>
  </ng-container>

  <ng-template #redirect>
    <mat-card class="chat-card text-center">
      <p class="text-red-600">Nenhum atendente disponível.</p>
      <a
        mat-raised-button
        color="accent"
        class="mt-4"
        [href]="whatsappLink"
        target="_blank"
      >
        Ir para o WhatsApp
      </a>
    </mat-card>
  </ng-template>
</div>
